# Network
POLL_INTERVAL=30

# Raspberry
RASPBERRY_SSH_HOST=192.168.X.X
RASPBERRY_SSH_USER=admin
RASPBERRY_SSH_PASSWORD=xpto

# Pi-hole
PIHOLE_BASE_URL=http://192.168.X.X/api/
PIHOLE_DNS_URL=http://pi.hole
PIHOLE_ADM_PWD=xpto
PIHOLE_LOG_PATH=/var/log/pihole/pihole.log

# Kafka
KAFKA_BOOTSTRAP=localhost:9092
PIHOLE_LOCAL_LOG_TOPIC=pi_hole_logs_file
PIHOLE_API_LOG_TOPIC=pi_hole_logs_api
PUBLIC_APIS_TOPIC=public_apis_results

# Pi-hole API Ideas Topics
PIHOLE_IDEAS_TOPIC_NETWORK_DEVICES=pi_hole_ideas_network_devices
PIHOLE_IDEAS_TOPIC_TOP_CLIENTS=pi_hole_ideas_top_clients
PIHOLE_IDEAS_TOPIC_UPSTREAMS=pi_hole_ideas_upstreams
PIHOLE_IDEAS_TOPIC_FTL_STATUS=pi_hole_ideas_ftl_status
PIHOLE_IDEAS_TOPIC_QUERIES=pi_hole_ideas_queries

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Database names
PIHOLE_DB_LOCAL_LOGS=pihole_local_logs
PIHOLE_DB_API_LOGS=pihole_api_logs
DB_PUBLIC_APIS=public_apis
PIHOLE_DB_API_IDEAS=pihole_api_ideas

# Docker Compose
KAFKA_HOST_IP=192.168.X.X
KAFKA_PORT=9092