# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
project_structure_generator.py
PROJECT_STRUCTURE.md

# Environment
.env
.env.local
.env.*.local
*.env


# Docker
data/
.volumes/

# Kafka
kafka-logs/
kafka-data/

# Logs
*.log
logs/