# Kafka
confluent_kafka==2.14.0

# Data
pandas==2.2.3

# HTTP
requests==2.32.3

# Network
paramiko

# Environment
python-dotenv==1.1.0

# PostgreSQL
psycopg2-binary==2.9.10

# API Localhost (Random Data Generator)
Flask==3.1.0
Faker==35.2.0

# Developer tools (opcionais, mas recomendados)
pytest==8.3.5
black==25.1.0
ruff==0.11.8
